# Project Milestone 2

#### Useful libraries

In [1]:
import pandas as pd

#### Build

In [2]:
char_md_cols = ['Wikipedia movie ID',
'Freebase movie ID',
'Movie release date',
'Character name',
'Actor date of birth',
'Actor gender',
'Actor height (in meters)',
'Actor ethnicity (Freebase ID)',
'Actor name',
'Actor age at movie release',
'Freebase character/actor map ID',
'Freebase character ID',
'Freebase actor ID',
]
char_md = pd.read_csv('data/character.metadata.tsv', sep='\t', names=char_md_cols)
char_md.head(2)

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character name,Actor date of birth,Actor gender,Actor height (in meters),Actor ethnicity (Freebase ID),Actor name,Actor age at movie release,Freebase character/actor map ID,Freebase character ID,Freebase actor ID
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.62,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.78,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4

In [3]:
movie_md_cols = [
'Wikipedia movie ID',
'Freebase movie ID',
'Movie name',
'Movie release date',
'Movie box office revenue',
'Movie runtime',
'Movie languages (Freebase ID:name tuples)',
'Movie countries (Freebase ID:name tuples)',
'Movie genres (Freebase ID:name tuples)',
]
movie_md = pd.read_csv('data/movie.metadata.tsv', sep='\t', names=movie_md_cols)
movie_md.head(2)

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages (Freebase ID:name tuples),Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples)
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."

In [4]:
# key: Wikipedia movie ID (as string)
# value: Summary
with open('data/plot_summaries.txt', encoding="utf8") as f:
    summaries = dict(line.split('\t', 1) for line in f)

summaries['2254491']

"Preetam , a struggling cartoonist, meets Anita  at a tennis match, where she is watching her favorite tennis star. Anita, a wealthy and westernized heiress is controlled by her feminist aunt, Sita Devi . Sita is suspicious of men, and cultivates her attitudes in Anita. However, to receive her fortune, her father's will decrees that Anita must marry within one month of turning 21. Sita Devi doesn't agree with this, and tries to set Anita up with a sham marriage which will soon lead to divorce, thereby giving her both freedom and a fortune. Sita hires Preetam to marry Anita, but doesn't know that the pair have already met. Preetam is kept from Anita after their marriage, but he kidnaps her and takes her to the traditional house of his brother. While at the house, Anita befriends Preetam's sister-in-law, and begins to see the merit in becoming a traditional Indian wife. Preetam is worried that he has lost Anita, and expedites their divorce by providing false, incrimiating evidence to the court. Preetam then leaves mumbai, heartbroken. Anita now recognizes her feelings for Preetam and rushes to meet him at the airport. In the end, the couple is reunited.\n"