# Project Milestone 2

#### Useful libraries

In [66]:
import pandas as pd
import json

#### Building dataframes from files

In [67]:
# Character metadata
char_md_cols = ['Wikipedia movie ID',
'Freebase movie ID',
'Movie release date',
'Character name',
'Actor date of birth',
'Actor gender',
'Actor height (in meters)',
'Actor ethnicity (Freebase ID)',
'Actor name',
'Actor age at movie release',
'Freebase character/actor map ID',
'Freebase character ID',
'Freebase actor ID',
]
char_md = pd.read_csv('data/character.metadata.tsv', sep='\t', names=char_md_cols)
char_md.head(2)

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character name,Actor date of birth,Actor gender,Actor height (in meters),Actor ethnicity (Freebase ID),Actor name,Actor age at movie release,Freebase character/actor map ID,Freebase character ID,Freebase actor ID
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.62,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.78,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4

In [68]:
# Movie metadata
movie_md_cols = [
'Wikipedia movie ID',
'Freebase movie ID',
'Movie name',
'Movie release date',
'Movie box office revenue',
'Movie runtime',
'Movie languages (Freebase ID:name tuples)',
'Movie countries (Freebase ID:name tuples)',
'Movie genres (Freebase ID:name tuples)',
]
movie_md = pd.read_csv('data/movie.metadata.tsv', sep='\t', names=movie_md_cols)
movie_md.head(2)

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages (Freebase ID:name tuples),Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples)
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."

In [69]:
# Plot summaries
summaries_cols = [
'Wikipedia movie ID',
'Summary',
]
summaries_df = pd.read_csv('data/plot_summaries.txt', sep='\t', names=summaries_cols)
summaries_df.head(2)

   Wikipedia movie ID                                            Summary
0            23890098  Shlykov, a hard-working taxi driver and Lyosha...
1            31186339  The nation of Panem consists of a wealthy Capi...

In [70]:
# Stereotypes
stereotypes_cols = [
'Stereotype',
'Character Info',
]
stereotypes_df = pd.read_csv('data/tvtropes.clusters.txt', sep='\t', names=stereotypes_cols)
df_stereotypes = pd.concat([stereotypes_df.drop(['Character Info'], axis=1), stereotypes_df['Character Info'].apply(json.loads).apply(pd.Series)], axis=1)
stereotypes_df.head()

                Stereotype                                     Character Info
0  absent_minded_professor  {"char": "Professor Philip Brainard", "movie":...
1  absent_minded_professor  {"char": "Professor Keenbean", "movie": "Richi...
2  absent_minded_professor  {"char": "Dr. Reinhardt Lane", "movie": "The S...
3  absent_minded_professor  {"char": "Dr. Harold Medford", "movie": "Them!...
4  absent_minded_professor  {"char": "Daniel Jackson", "movie": "Stargate"...

In [71]:
df_stereotypes.head()

,Stereotype,char,movie,id,actor
0,absent_minded_professor,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams
1,absent_minded_professor,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane
2,absent_minded_professor,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen
3,absent_minded_professor,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn
4,absent_minded_professor,Daniel Jackson,Stargate,/m/0k3rhh,James Spader

### Stereotypes from tvtropes, which are the most prominent ones ?

In [72]:
# Merge stereotypes and characters tables
df = pd.merge(df_stereotypes, char_md, left_on="id", right_on="Freebase character/actor map ID")
df.head()

,Stereotype,char,movie,id,actor,Wikipedia movie ID,Freebase movie ID,Movie release date,Character name,Actor date of birth,Actor gender,Actor height (in meters),Actor ethnicity (Freebase ID),Actor name,Actor age at movie release,Freebase character/actor map ID,Freebase character ID,Freebase actor ID
0,absent_minded_professor,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams,1344253,/m/04vcfx,1997-11-26,Professor Philip Brainard,1951-07-21,M,1.702,NaN,Robin Williams,46.0,/m/0jy9q0,/m/0cls20k,/m/0dzf_
1,absent_minded_professor,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane,1486573,/m/0557n3,1994-12-21,Professor Keenbean,1955-06-25,M,NaN,NaN,Michael McShane,39.0,/m/02vchl3,/m/0h6dygh,/m/05tkfc
2,absent_minded_professor,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen,5991505,/m/0fjjjh,1994-07-01,Dr. Reinhardt Lane,1939-05-25,M,1.800,NaN,Ian McKellen,55.0,/m/0k6fkc,/m/0gynqd6,/m/03ym1
3,absent_minded_professor,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn,605676,/m/02vt5c,1954-06-16,Dr. Harold Medford,1877-09-26,M,NaN,NaN,Edmund Gwenn,NaN,/m/0k6_br,/m/0h5whpq,/m/03bpcj
4,absent_minded_professor,Daniel Jackson,Stargate,/m/0k3rhh,James Spader,28327,/m/070g7,1994-10-28,Daniel Jackson,1960-02-07,M,1.780,NaN,James Spader,34.0,/m/0k3rhh,/m/02qs1z,/m/043js

In [73]:
# How many stereotypes are there?
df['Stereotype'].nunique()

72

In [74]:
# How many males and females are there?
print(df['Actor gender'].value_counts()['M'])
print(df['Actor gender'].value_counts()['F'])

431
69

In [75]:
# What are the top n more common stereotypes?
n = 10
print(df['Stereotype'].value_counts()[:n])
top_n_stereotypes = df['Stereotype'].value_counts()[:n].index.tolist()

crazy_jealous_guy              25
corrupt_corporate_executive    23
byronic_hero                   17
psycho_for_hire                16
father_to_his_men              15
stoner                         13
master_swordsman               12
brainless_beauty               12
slacker                        11
dumb_blonde                    11
Name: Stereotype, dtype: int64

In [76]:
# What are the top n more common stereotypes in males?
df_male = df[df['Actor gender'] == 'M']
df_male['Stereotype'].value_counts()[:n]

crazy_jealous_guy              25
corrupt_corporate_executive    23
byronic_hero                   17
psycho_for_hire                16
father_to_his_men              15
stoner                         13
master_swordsman               12
bounty_hunter                  10
hitman_with_a_heart            10
slacker                         9
Name: Stereotype, dtype: int64

In [77]:
# What are the top n more common stereotypes in females?
df_female = df[df['Actor gender'] == 'F']
df_female['Stereotype'].value_counts()[:n]

dumb_blonde         10
brainless_beauty     7
valley_girl          6
chanteuse            6
prima_donna          6
final_girl           6
ophelia              5
granola_person       4
broken_bird          4
junkie_prophet       2
Name: Stereotype, dtype: int64

In [78]:
# How many males and females are there in each of the top n stereotypes?
males_n_stereotypes = 0
females_n_stereotypes = 0
for stereotype in top_n_stereotypes:
    df_temp = df[df['Stereotype'] == stereotype]
    try:
        males = df_temp['Actor gender'].value_counts()['M']
    except:
        males = 0
    try:
        females = df_temp['Actor gender'].value_counts()['F']
    except:
        females = 0
    males_n_stereotypes += males
    females_n_stereotypes += females
    print(stereotype + ': ' + str(males) + ' M and ' + str(females) + ' F.')
    
print(str(males_n_stereotypes) + ' M and ' + str(females_n_stereotypes) + 'F in the top ' + str(n) + ' stereotypes')

crazy_jealous_guy: 25 M and 0 F.
corrupt_corporate_executive: 23 M and 0 F.
byronic_hero: 17 M and 0 F.
psycho_for_hire: 16 M and 0 F.
father_to_his_men: 15 M and 0 F.
stoner: 13 M and 0 F.
master_swordsman: 12 M and 0 F.
brainless_beauty: 5 M and 7 F.
slacker: 9 M and 2 F.
dumb_blonde: 1 M and 10 F.
136 M and 19F in the top 10 stereotypes

### Representation of men vs women in the different movie genres.

In [79]:
# Format the movies table to see one genre per row
def get_values_json(data):
    data = json.loads(data)
    values = ""
    for key, value in data.items():
        values += value + ","
    return values[:-1]

df_movie = movie_md
df_movie['Movie genres (Freebase ID:name tuples)'] = movie_md['Movie genres (Freebase ID:name tuples)'].apply(lambda json: get_values_json(json))
df_movie['Movie genres (Freebase ID:name tuples)'] = df_movie['Movie genres (Freebase ID:name tuples)'].str.split(',')
df_movie = movie_md.explode('Movie genres (Freebase ID:name tuples)')
df_movie.head()

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages (Freebase ID:name tuples),Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples)
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Thriller
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Science Fiction
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Horror
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Adventure
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Supernatural

In [80]:
# Merge the new formatted movies table with characters table
df_total = pd.merge(df_movie, char_md, on='Wikipedia movie ID', how='left')
df_total.head()

,Wikipedia movie ID,Freebase movie ID_x,Movie name,Movie release date_x,Movie box office revenue,Movie runtime,Movie languages (Freebase ID:name tuples),Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples),Freebase movie ID_y,...,Character name,Actor date of birth,Actor gender,Actor height (in meters),Actor ethnicity (Freebase ID),Actor name,Actor age at movie release,Freebase character/actor map ID,Freebase character ID,Freebase actor ID
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Thriller,/m/03vyhn,...,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Thriller,/m/03vyhn,...,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Thriller,/m/03vyhn,...,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Thriller,/m/03vyhn,...,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Thriller,/m/03vyhn,...,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg

In [81]:
# How many genres are there?
dict_genres = df_total['Movie genres (Freebase ID:name tuples)'].value_counts()
list_genres = df_total['Movie genres (Freebase ID:name tuples)'].value_counts().index.tolist()
len(list_genres)

364

In [82]:
# If we take a look on the genres with less movies we can see some of them have 1 movie, is a genre really a genre if it only has 1 movie?
for genre in list_genres[-10:]:
    print(genre + ": " + str(dict_genres[genre]) + " movies.")

Children's Issues: 8 movies.
Prison escape: 7 movies.
Homoeroticism: 7 movies.
New Queer Cinema: 4 movies.
War effort: 3 movies.
Political Documetary: 2 movies.
Romantic thriller: 1 movies.
Neorealism: 1 movies.
Silhouette animation: 1 movies.
Linguistics: 1 movies.

In [83]:
# Let's see how many males and females actors are there pere genre, and let's store the female/male ratio per genre
ratio_genres = {}
for genre in list_genres:
    df_temp = df_total[df_total['Movie genres (Freebase ID:name tuples)'] == genre]
    try:
        males = df_temp['Actor gender'].value_counts()['M']
    except:
        males = 0
    try:
        females = df_temp['Actor gender'].value_counts()['F']
    except:
        females = 0
    if males == 0 and females == 0:
        ratio_genres[genre] = float('nan')
    elif males == 0:
        ratio_genres[genre] = float('inf')
    else:
        ratio_genres[genre] = females/males
    #print(genre + ': ' + str(males) + ' M and ' + str(females) + ' F. ' + str(ratio_genres[genre]) + '.')

In [84]:
# What are the genres where women are more predominant
for key, value in ratio_genres.items():
    if value >= 1:
        print(key + ": " + str(dict_genres[key]))

Adult: 1106
Feminist Film: 1038
Softcore Porn: 393
Gender Issues: 165
Pinku eiga: 139
Women in prison films: 137
Libraries and librarians: 53
Pornography: 43
Health & Fitness: 31
Mondo film: 30
Family & Personal Relationships: 26
C-Movie: 20
Race movie: 13
Breakdance: 11
War effort: 3
Romantic thriller: 1