Smurfette principle derivation, analysis of movie summaries, women are more often than not mentioned with a male character.

Process the summary, and count how many times each character is mentioned, use n-grams (2-3 ?) to see when they are mentioned together.

Maybe measure throughout the years ?

Or measure with different n for n-grams, interactive plot ? (possible to do both yearly + variable n too)

In [1]:
import pandas as pd
import json
import string
import os
import spacy
from spacy.lang.en import English

#Punctuations from python string.punctuation without the dot ('.'), additional punctuation added to remove artifacts
punctuation = ['!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '/', ':',
 ';', '<', '=', '>', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~'] + ['``', '\'\'', '\'s']

In [2]:
# Character metadata
char_md_cols = ['Wikipedia movie ID',
'Freebase movie ID',
'Movie release date',
'Character name',
'Actor date of birth',
'Actor gender',
'Actor height (in meters)',
'Actor ethnicity (Freebase ID)',
'Actor name',
'Actor age at movie release',
'Freebase character/actor map ID',
'Freebase character ID',
'Freebase actor ID',
]
char_md = pd.read_csv('data/character.metadata.tsv', sep='\t', names=char_md_cols)
print('Number of characters:', char_md.shape[0])
char_md.head(2)

Number of characters: 450669

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character name,Actor date of birth,Actor gender,Actor height (in meters),Actor ethnicity (Freebase ID),Actor name,Actor age at movie release,Freebase character/actor map ID,Freebase character ID,Freebase actor ID
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.62,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.78,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4

In [3]:
char_to_gender = char_md[['Wikipedia movie ID', 'Character name', 'Actor gender']].dropna().drop_duplicates()

In [4]:
wikipedia_movie_IDS = os.listdir("./data/corenlp_plot_summaries/")
wikipedia_movie_IDS = [filename.rsplit('.', 2)[0] for filename in wikipedia_movie_IDS]

In [5]:
len(wikipedia_movie_IDS)

42306

In [6]:
import gzip
from xml.dom.minidom import parseString #, parse 


def open_parse_summary(wiki_id):
    # open and read gzipped xml file
    xml_file = gzip.open("./data/corenlp_plot_summaries/" + wiki_id + ".xml.gz")
    document = parseString(xml_file.read())
    
    #Read all words
    words = document.getElementsByTagName('word')
    #lemmas = dom.getElementsByTagName('lemma')
    
    #Looks for the desired node type and extracts their values
    words_list = [word.childNodes[0].nodeValue for word in words]
    #lemmas_list = [lemma.childNodes[0].nodeValue for lemma in lemmas]
    
    return words_list#, lemmas_list

In [219]:
#TODO: RERUN THIS ON DESKTOP TO PROCESS ALL THE SUMMARIES

# DO NOT RUN UNLESS NECESSARY !!!!!
i = 0
tot = len(wikipedia_movie_IDS)

for wiki_id in wikipedia_movie_IDS[0:20]:
    print(wiki_id)
    summary = list(open_parse_summary(wiki_id))
    with open("./data/corenlp_summaries_words/"+ wiki_id + ".txt", 'w') as file_words:
        for word in summary:
            if word not in punctuation:
                # write each item on a new line
                file_words.write("%s\n" % word)
    i += 1
    print(str(i) + "/" + str(tot))

26167604
1/42306
14075290
2/42306
24379585
3/42306
8683288
4/42306
18040146
5/42306
3113630
6/42306
15117612
7/42306
9404578
8/42306
21411112
9/42306
23553986
10/42306
9149984
11/42306
327582
12/42306
25375805
13/42306
5144523
14/42306
2817162
15/42306
24778429
16/42306
4298666
17/42306
8318237
18/42306
34383775
19/42306
15025803
20/42306

In [7]:
wikipedia_movie_IDS[0:5]

['26167604', '14075290', '24379585', '8683288', '18040146']

In [8]:
char_to_gender

        Wikipedia movie ID              Character name Actor gender
0                   975900                    Akooshay            F
1                   975900  Lieutenant Melanie Ballard            F
2                   975900         Desolation Williams            M
3                   975900          Sgt Jericho Butler            M
4                   975900             Bashira Kincaid            F
...                    ...                         ...          ...
450658              913762                   Lord Feff            M
450659              913762           Additional Voices            F
450661              913762          UN Spacy Commander            M
450662              913762                 Silvie Gena            F
450664              913762                      Elensh            F

[182639 rows x 3 columns]

In [9]:
empty_count = 0
avg_len = 0

for wiki_id in wikipedia_movie_IDS:
    test = char_to_gender[char_to_gender['Wikipedia movie ID'] == int(wiki_id)]
    if(test.empty):
        empty_count += 1
    else:
        avg_len += len(test)
        
avg_len /= (len(wikipedia_movie_IDS)-empty_count)

print("Average of " + str(avg_len) + " actors per movie")

Average of 5.866478260869565 actors per movie

In [17]:
spacy_stopwords_and_general = spacy.lang.en.stop_words.STOP_WORDS
#TODO: Add eventual additionnal words
# Additional elements: man/wm/hb/wife cannot be processed as characters without more thorough language processing
# Numbers: characters are sometimes described as for example 'Bartender 1', 'Bartender 2', these need to be avoided
additional_elems = ['man', 'woman', 'husband', 'wife'] + ['0','1', '2', '3', '4', '5', '6', '7', '8', '9']
spacy_stopwords_and_general.update(additional_elems)

def make_MF_repr(wiki_id):
    with open("./data/corenlp_summaries_words/"+ wiki_id + ".txt", 'r') as summary_file:
        #Read the summary
        summary_text = summary_file.read().replace('\n', ' ')
        
        #Get the characters from this movie
        chars = char_to_gender[char_to_gender['Wikipedia movie ID'] == int(wiki_id)][['Character name', 'Actor gender']]
        chars = dict(zip(chars['Character name'], chars['Actor gender']))
        
        #Remove punctuation from character names
        for char_name in list(chars):
            char_name_new = char_name
            for pun in punctuation:
                char_name_new = char_name_new.replace(pun, ' ')
            chars[char_name_new] = chars.pop(char_name)
        
        #Remove characters which contain a stopword to keep (mostly) relevant characters (names).
        for char_name in list(chars):
            for word in char_name.split(' '):
                if word.lower() in spacy_stopwords_and_general:
                    chars.pop(char_name)
                    break
                    
        #Replace character's names with M or F respectively
        for char_name in list(chars):
            summary_text = summary_text.replace(char_name, chars[char_name])
            for word in char_name.split(' '):
                summary_text = summary_text.replace(word, chars[char_name])
                
        # Save as final file format (M and F stay, other words get replaced by the number of words between two M/F)
        # Each line is a new sentence
        # For example, if the only character is named 'Bob' (man), 'Bob is cool be like Bob. I like Bob.' becomes:
        # M4M
        # 2M
        #Check if chars list not empty
        if(bool(chars)):
            with open("./data/corenlp_summaries_encoded/"+ wiki_id + ".txt", 'w') as file_encoded:
                count_non_character = 0
                for word in summary_text.split(' '):
                    if word == 'M' or word == 'F':
                        if count_non_character != 0:
                            file_encoded.write("%s" % str(count_non_character))
                        file_encoded.write("%s" % word)
                        count_non_character = 0
                    elif word == '.':
                        if count_non_character != 0:
                            file_encoded.write("%s" % str(count_non_character))
                        file_encoded.write("\n")
                        count_non_character = 0
                    else:
                        count_non_character += 1

In [18]:
for wiki_id in wikipedia_movie_IDS[0:20]:
    make_MF_repr(wiki_id)

In [19]:
# Counts the total occurence of M/F characters in the summary.
def count_pure_M_F(wiki_id):
    with open("./data/corenlp_summaries_encoded/"+ wiki_id + ".txt", 'r') as summary_file:
        summary_str = summary_file.read()
        return summary_str.count('M'), summary_str.count('F')

In [76]:
# Counts the occurence of M and F at a distance <= n. For ex. 'M2F' would give 1 for n=3 but 0 for n=2 or n=1
# Not specifying n means taking the whole sentence
def count_co_occ_M_F(wiki_id, n = 1000):
    with open("./data/corenlp_summaries_encoded/"+ wiki_id + ".txt", 'r') as summary_file:
        summary_str = summary_file.read()
        co_occ_sum = {'M': 0, 'F': 0}
        for line in summary_str.split('\n'):
            previous = ''
            indic_hasbeencounted = 0
            strint_saver = ''
            for word in line:
                if word == 'M' or word == 'F':
                    if word != previous and previous and int(strint_saver) <= n-1:
                        co_occ_sum[word] += 1
                        if not indic_hasbeencounted:
                            co_occ_sum[previous] += 1
                       
                        indic_hasbeencounted = 1
                    else:
                        indic_hasbeencounted = 0
                    previous = word
                    strint_saver = ''
                else:
                    strint_saver += word
        return co_occ_sum['M'], co_occ_sum['F']

In [79]:
files = [filename.split('.txt')[0] for filename in os.listdir('./data/corenlp_summaries_encoded/')]
for wiki_id in files:
    total_M, total_F = count_pure_M_F(wiki_id)
    co_occ_M, co_occ_F = count_co_occ_M_F(wiki_id)
    pure_M = total_M - co_occ_M
    pure_F = total_F - co_occ_F
    print(wiki_id)
    print('P_M:', pure_M, ', P_F:', pure_F, ', c_M:', co_occ_M, ', c_F:', co_occ_F)

14075290
P_M: 6 , P_F: 3 , c_M: 1 , c_F: 1
18040146
P_M: 5 , P_F: 0 , c_M: 0 , c_F: 0
9149984
P_M: 25 , P_F: 2 , c_M: 17 , c_F: 15
34383775
P_M: 5 , P_F: 5 , c_M: 5 , c_F: 5
3113630
P_M: 0 , P_F: 8 , c_M: 0 , c_F: 0
26167604
P_M: 15 , P_F: 2 , c_M: 4 , c_F: 3
327582
P_M: 7 , P_F: 0 , c_M: 0 , c_F: 0
4298666
P_M: 28 , P_F: 0 , c_M: 0 , c_F: 0
5144523
P_M: 0 , P_F: 0 , c_M: 0 , c_F: 0
21411112
P_M: 42 , P_F: 0 , c_M: 0 , c_F: 0
2817162
P_M: 21 , P_F: 0 , c_M: 0 , c_F: 0